body{
  background-color: rgba(241, 241, 241, 0.911);
}

.container{
  margin: 0 auto;
  max-width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img {
  width: 56px;
  align-content: center;
}

.span{
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  color: rgb(255, 33, 70);
}

@media only screen and (max-width: 770px) {
  .img {
    width: 56px;
    align-content: center;
  }

  .span{
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: crimson;
  }
}


